body
{
    font-size: 14pt;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";;
}

#center_column
{
    margin: 0px auto 5em auto;
    width: 900px;
}

h2
{
    margin-top: 3em;
}

h2:first-of-type
{
    margin-top: inherit;
}

.env_t
{
    border: solid 1px black;
}

.env_t thead
{
    font-weight: bold;
}

.env_t thead tr td,
.env_t tbody tr td
{
    border: solid 1px black;
    padding: 0.3em 1em;
}

.env_t thead tr td:nth-child(1),
.env_t tbody tr td:nth-child(1)
{
    width: 10em;
}

.env_t thead tr td:nth-child(2),
.env_t tbody tr td:nth-child(2)
{
    width: 10em;
}

.env_t thead tr td:nth-child(3),
.env_t tbody tr td:nth-child(3)
{
    width: 10em;
}

.env_t thead tr td:nth-child(4),
.env_t tbody tr td:nth-child(4)
{
    width: 15em;
}
